/* 多个界面所通用的举荐必须的样式 */
.topbar{
	background: #f9f9f9;
	border-bottom: 1px solid #eee;
	line-height: 36px;
}
/* 导航条 */
.navbar{
	background-color:#00be56;
	border-bottom: 3px solid #b3efc0;
	height: 40px;
}
.daohang{
	border: 1px solid red;
	font-size: 1.5em;
	text-align: center;
	height: 35px;
}
.daohang span{
	line-height: 30px;
}
.daohang:hover,
.daohang:active{
	background: lightgreen;
}
.topbar-item{
	padding: 0 0.5em;
}
.topbar-item:last-child{
	padding-right: 0;
}

/* 2.LOGO+搜索条 */
.logo{
	margin: 1.5em 0;
}
.searchbar{
	position: relative;
}
/* 搜索框 */
.search{
	/* 保证元素在父容器中竖直居中 调整上间距 */
	/* margin-top: 6px; */
	/* 保证元素在父容器中竖直居中：先向下移到父容器中线以下，太上微调自身高度的一半 */
	top:50%;
	right: 620px;
	position: absolute;
	margin-top: -16px;
}
.search-input{
	width: 360px;
	height: 32px;
	line-height: 32px;
	padding: 0 0.6em;
	font-size: 1.15em;
	border: 1xp solid #EEEEEE;
}
.search-button{
	width: 50px;
	height: 32px;
	background-color:#00be56;
	color: white;
	border: none;
	font-size: 1.7em;
	position: absolute;
	right: 0;
	top: 0;
}

/* 我的购物车 */
.my-cart{
	position: absolute;
	right: 500px;
	top: 50%;
	height: 32px;
	margin-top: -16px;
	border:1px solid #DDDDDD;
	background: #F9F9F9;
	line-height: 1.875rem;
	padding: 0 0.5em;
}
.carouselbar{
	border-bottom: 4px solid #ddd;
}
.mainbar{
	border-bottom: 1px solid #ddd;
}
.bottombar{
	background-color: #eee;
}
/* 选择底部条中的容器第一个。row元素 */
.bottombar>.container>.row:first-child{
	border-bottom: 1px solid #ddd;
}