/* 多个界面所通用的举荐必须的样式 */
.topbar{
	background: #f9f9f9;
	border-bottom: 1px solid #eee;
	line-height: 36px;
}
/* 导航条 */
.navbar{
	background-color:#00be56;
	border-bottom: 3px solid #b3efc0;
	height: 42px;
	font-size: 1.2em;
}
.topbar-item{
	padding: 0 0.5em;
}
.topbar-item:last-child{
	padding-right: 0;
}
.menu:after{
	background: #00a43d;
}
.menu>li{
	float: left;
	line-height: 38px;
	padding: 0 1.5em;
}
.menu>li>a{
	color: white;
}
.menu>li:hover{
	background: #00b149;
}
.menu>li.active{
	background: #00a43d;
}
/* 2.LOGO+搜索条 */
.logo{
	margin: 1.5em 0;
}
.searchbar{
	position: relative;
}
/* 搜索框 */
.search{
	/* 保证元素在父容器中竖直居中 调整上间距 */
	/* margin-top: 6px; */
	/* 保证元素在父容器中竖直居中：先向下移到父容器中线以下，太上微调自身高度的一半 */
	top:50%;
	right: 620px;
	position: absolute;
	margin-top: -16px;
}
.search-input{
	width: 360px;
	height: 32px;
	line-height: 32px;
	padding: 0 0.6em;
	font-size: 1.15em;
	border: 1xp solid #EEEEEE;
}
.search-button{
	width: 50px;
	height: 32px;
	background-color:#00be56;
	color: white;
	border: none;
	font-size: 1.7em;
	position: absolute;
	right: 0px;
	top: 0;
}
/* 登录注册 */
.user-center{
	background: #55c760;
	line-height: 38px;
}
.user-center a,
.user-center span{
	color: #FFFFFF;
}
.user-center a:hover{
	color:#ffff9b;
}
/* 我的购物车 */
.my-cart{
	position: absolute;
	right: 500px;
	top: 50%;
	height: 32px;
	margin-top: -16px;
	border:1px solid #DDDDDD;
	background: #F9F9F9;
	line-height: 1.875rem;
	padding: 0 0.5em;
}
/* 轮播广告 */
.carouselbar{
	border-bottom: 4px solid #ddd;
}
.carousel{
	position: relative;/*为绝对定位提供参照*/
}
.carousel .items a{
	display: block;/*改为块级元素*/
	width: 100%;
	height: 380px;
	background-position: center;/*背景图的位置*/
	background-repeat: no-repeat;
}
.carousel .items li:not(.active){/*不带.active的li隐藏*/
	display: none;
}
.carousel .indicators{
	position: absolute;
     bottom: 20px;
	 left:50%;
	 margin-left: -72px;
}
.carousel .indicators li{
	width: 18px;
	height: 18px;
	background: #ccc;
	border-radius: 50%;
	float: left;
	margin: 0  9px;
	cursor: pointer;
}
.carousel .indicators li.active{
	background: #ff9300;
}
.carousel .controls{
	position: absolute;
	top: 50%;
	left: 50%;
}
.carousel .controls .prev,
.carousel .controls .next{
	position: absolute;
	width: 54px;
	height: 94px;
	font-size: 4em;
	line-height: 94px;
	text-align: center;
	background-color: rgba(0,0,0,0.2);
	color: #fff;
	margin-top: -47px;
}
.carousel .controls .prev{
	margin-left: -496px;
}
.carousel .controls .next{
	margin-left: 442px;
}
.carousel .controls .prev:hover,
.carousel .controls .next:hover{
	background: rgba(0,0,0,0.6);
}
/* 主题部分 */
.mainbar{
	border-bottom: 1px solid #ddd;
}
.mainbar .header{
	position: relative;
	border-bottom: 3px solid #ddd;
}
.mainbar .header h3{
	font-weight: normal;
	margin-bottom: .5em;
	padding: 0 0.8em;
}
.mainbar .header a{
	
	position: absolute;
	right: 0;
	bottom: .3em;
}
.mainbar .header span{
	width: 5.6em;
	height: 3px;
	position: absolute;
	left: 0;
	bottom:0;
	background: #00BE56;
}
.mainbar .course{
	padding: 1.2em  0;
}
.mainbar .course .pic img{
	width: 100%;
}
.mainbar .course .title{
	display: block;/*让这个课程标题占据一整行*/
}
.mainbar .course .teacher{
	display: block;
	font-size: 0.8em;
	line-height: 1.8em;
	color: #999;
}
.mainbar .course .price{
	display: block;
	font-weight: bold;
	color: red;
}


.row .course1{
	padding: 1.2em  0;
}
@media screen and (min-width:768px) and (max-width:1023) {
	.teacher-list{
		white-space: nowrap;
		overflow-x: auto;
	}
	.col-lg-5-1{
		float: none;
		width: 214px;
		display: inline-block;
	}
}
@media screen and (max-width:767px) {
	.teacher-list{
		white-space: nowrap;
		overflow-x: auto;
		margin-left: 0;
		margin-right: 0;
	}
	.col-lg-5-1{
		float: none;
		width: 210px;
		display: inline-block;
	}
}
.row .course1 .pic img{
	width:10.875rem;
	height: 15rem;
}
.row .course1 .title{
	display: block;s
	text-align: center;
}
.row .course1 .teacher{
	display: block;
	font-size: 0.8em;
	line-height: 1.8em;
	color: #999;
	text-align: center;
}
/* 第一个第五个第九个.col-lg-3中的.course没有padding-left */
.mainbar .col-lg-3:nth-child(4n+1) .course{
	/* padding-left: 0; */
}
.bottombar{
	background-color: #eee;
}
.dibu{
	float: left;
	margin-left: 50px;
}
.dibu li{
	margin: 10px 0;
}
.dibu li:first-child{
	color: #999999;
	font-size: 1.1em;
	position: relative;
}
.bottombar .fn-menu{
	line-height: 1.7em;
}
.bottombar .fa-fax{
	color: #00be56;
	font-size: 4em;
	float: left;
}
.bottombar .contact{
	margin-top: 3.125rem;
}
.bottombar .contact .hotline{
	margin-left: 0em;
	font-size: 1.4em;
	line-height: 1.6em;
}
/* 选择底部条中的容器第一个。row元素 */
.bottombar>.container>.row:first-child{
	border-bottom: 1px solid #ddd;
}
.copyright{
	text-align: center;
	color: #bdbdbd;
	font-size: 0.8em;
	line-height: 2em;
}